@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* font-family: 'Work Sans', sans-serif; */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Work Sans', sans-serif;
}

.container {
	width: 1140px;
	margin: 0px auto;
}

header {
	background-color: rgba(233, 183, 163, 0.637);
}

.top-nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	padding-top: 30px;
}
.nav-title {
	font-size: 20px;
}

.nav-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-item a {
	padding-left: 35px;
	text-decoration: none;
	font-size: 18px;
	color: black;
}

.brand-new-section {
	text-align: center;
	margin-top: 130px;
}

.top-title {
	font-size: 50px;
}

.top-paragraph {
	width: 800px;
	padding: 10px 0px;
	margin: 0 auto;
}

.top-btn {
	padding: 15px 20px;
	color: white;
	border: 0px;
	font-weight: bold;
	background-color: #ff900e;
	border-radius: 5px;
}

.top-image img {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 45px;
}

.our-feature {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 90px;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	justify-items: center;
}

.image-grid img {
	width: 95%;
}

.feature-text {
	flex-direction: column;
	display: flex;
	justify-content: center;
	margin-left: 40px;
}

.feature-title {
	font-size: 40px;
}

.feature-title span {
	font-weight: bold;
	color: #ff900e;
}

.feature-btn {
	margin: 10px 0;
	width: 140px;
	padding: 15px 20px;
	border: 0;
	border-radius: 5px;
	background-color: #ff900e;
	color: white;
	font-weight: bold;
}

.experience {
	display: flex;
	flex-direction: row;
	margin: 120px 0;
}

.experi-text {
	padding-right: 50px;
	width: 50%;
}

.experi-h1 {
	border-left: 5px solid #ff900e;
	padding-left: 20px;
	font-size: 35px;
	margin: 25px 0;
}

.experi-image {
	width: 50%;
}

.experi-image img {
	width: 100%;
}

.experi-cards {
	display: flex;
	flex-direction: column;
}

.experi-card {
	padding: 20px 30px;
}

.exp-title {
	font-size: 16px;
	padding: 5px 0;
}

.exp-btn-box {
	display: flex;
	justify-content: center;
	margin-top: -200px;
}

.exp-btn {
	border: 0;
	font-weight: bold;
	font-size: 25px;
	border-radius: 5px;
	background-color: #ff900e;
	color: white;
	padding: 20px 25px;
}
.exp-btn span {
	font-size: 12px;
}

.facts {
	margin: 120px 0;
}

.testimonial {
	margin: 30px 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #ff900e;
	border-radius: 5px;
	padding: 20px;
}

.card:hover {
	transform: scale(90%);
}

.sponsor {
	margin: 50px 0;
	text-align: center;
}

.h1-text {
	font-size: 40px;
}

.brands {
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.FAQ h1 {
	text-align: center;
}

.FAQ {
	margin: 120px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.FAQ ol {
	width: 80%;
}

.qanda li {
	padding: 10px;
}

footer {
	border-radius: 5px;
	background-color: #fff4e7;
}

footer p {
	padding: 20px;
	text-align: center;
	margin: 80px 0;
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	}
	header {
		text-align: center;
	}
	.top-nav {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		align-items: center;
		padding-top: 30px;
	}
	.nav-item {
		flex-direction: column;
		justify-content: center;
	}

	.brand-new-section {
		text-align: center;
		margin-top: 40px;
	}
	.top-title {
		font-size: 35px;
	}
	.top-paragraph {
		width: 90%;
		padding: 15px 0;
	}
	.top-image img {
		width: 80%;
	}
	.our-feature {
		grid-template-columns: repeat(1, 1fr);
	}

	.feature-text {
		margin-top: 20px;
		margin-left: 20px;
	}

	.image-grid {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 15px;
	}
	.experience {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.experi-text {
		padding-right: 50px;
		width: 70%;
	}
	.experi-image {
		width: 80%;
	}
	.exp-btn-box {
		display: flex;
		justify-content: center;
		margin-top: -50px;
	}
	.facts {
		padding: 20px;
	}

	.testimonial {
		flex-direction: column;
	}
	.card {
		margin: 10px;
	}
	.brands {
		flex-direction: column;
	}
	.logos {
		margin: 10px;
	}
}
